@font-face {
    font-family: "Dosis";
    src: url("/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Garamond" ;
    src: url("/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
}

body {
    font-family: "Garamond";
    background-color: #000;
    color: orange;
    width: 100vw;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 10em;
    height: 10em;
    border-top: 1em solid orange;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: loading 1s linear infinite;
}


@keyframes loading {
    100% {transform: rotate(360deg)};
}

a {
    color: orange;
    text-decoration: none;
}

/* Index Page */


nav {
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.container {
    margin-top: 50px;
    margin: 100px;
    border-style: double;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
    border-style: inherit;
    margin: 20px;
}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 150px;
    height: 200px;
    align-content: center;
}

/* Contact Page */
h1 {
    text-align: center;
    color: orange;
    font-size: 3em;
    text-transform: uppercase;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    padding: 20px;
}

label {
    color: orange;
    font-size: 1.5em;
}

.contactForm {
    border-style: groove;
    width: max-content;
    margin: 30px auto;
}

input {
    display: block;
    padding: 10px 35px;
    margin: 10px;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    margin: 10px auto;
    margin-bottom: 20px;
    align-self: center;
    color: orange;
    background-color: #000;
    border-radius: 5px;
}

button:disabled {
    color: gray;
}

.error-msg {
    color: red;
    text-align: center;
    padding: 3px;
    display: none;
}

.message_success {
    color: green;
    background: white;

}

